// Default
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: var(--bg-color);
  color: var(--body-color);
  transition: color 1s, background-color 1s;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  &::before {
    content: '';
    position: fixed;
    top: -15px;
    left: 0;
    width: 100%;
    height: 15px;
    box-shadow: 0px 0 15px rgba(0, 0, 0, 0.8);
    z-index: 100;
  }
  &::after {
    content: '';
    position: fixed;
    bottom: -15px;
    left: 0;
    width: 100%;
    height: 15px;
    box-shadow: 0px 0 15px rgba(0, 0, 0, 0.8);
    z-index: 100;
  }
}

a {
  color: var(--link-color);
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
  &:hover,
  &:focus {
    color: var(--link-color-p);
    border-bottom: 1px solid var(--link-color-p);
  }
}

img {
  // max-width: 100%;
  margin-bottom: 2rem;
}

hr {
  margin-bottom: 1rem;
}

button {
  color: var(--link-color);
  font-size: 1.2rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  padding: 0.5rem 2rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  background: var(--bg-content-color);
  text-transform: uppercase;
  cursor: pointer;
  box-sizing: border-box;
  border: 1px solid var(--link-color);
  transition: all 0.3s ease-in-out;
}

button:hover,
button:focus {
  color: var(--link-color-p);
  border: 1px solid var(--link-color-p);
}

form {
  position: relative;
  padding: 0.8rem;
  width: 100%;
  height: auto;
  margin: 0 auto;
  background: var(--bg-content-color);
}

@media only screen and (min-width: 768px) {
  form {
    position: relative;
    padding: 1rem;
    width: 70%;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 1024px) {
  form {
    position: relative;
    padding: 2rem;
    width: 60%;
    margin: 0 auto;
  }
}

label,
input,
select,
textarea {
  font-family: inherit;
  font-size: 0.8rem;
  width: 100%;
  margin: auto;
  box-sizing: border-box;
}

label {
  font-size: 1.1rem;
}

input {
  background: var(--bg-content-color);
  color: var(--text-color);
}

input,
textarea {
  border: 1px solid var(--link-color);
  padding: 0.3em;
  background: var(--bg-content-color);
  color: var(--text-color);
}

input:focus,
textarea:focus {
  border: 1px solid var(--link-color-p);
  outline: none;
}

details {
  cursor: pointer;
}

details summary {
  color: var(--link-color-p);
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}

details summary:hover,
details summary:focus {
  color: #af0606;
}

details p {
  color: #222;
}

.eq {
  // margin-left: -1rem;
  // margin-right: -1rem;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
  background-color: var(--eq-color);
  color: var(--eq-content);
  border-radius: 0.7rem;
  padding: 1rem;
  font-family: monospace;
  p {
    font-size: 1rem;
  }
  p:last-of-type {
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 768px) {
  .eq {
    p {
      font-size: 1.1rem;
    }
    margin: 1rem;
    padding: 3rem;
  }
}

.gallery {
  padding: 1rem;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr;
}

@media only screen and (min-width: 768px) {
  .gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-flow: row dense;
  }
}
