// Default
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: var(--bg-color);
  color: var(--body-color);
  transition: color 0.3s, background-color 0.3s;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

a {
  color: var(--link-color);
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
  &:hover,
  &:focus {
    color: var(--link-color-p);
    border-bottom: 1px solid var(--link-color-p);
  }
}

img {
  max-width: 100%;
  margin-bottom: 2rem;
}

button {
  color: var(--link-color);
  font-size: 1.2rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  padding: 0.5rem 2rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  background: none;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid var(--link-color);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

button:hover,
button:focus {
  color: var(--link-color-p);
  border: 1px solid var(--link-color-p);
}

form {
  position: relative;
  width: 100%;
  height: auto;
  margin: 0 auto;
  background: #fff;
}

@media only screen and (min-width: 768px) {
  form {
    position: relative;
    width: 70%;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 1024px) {
  form {
    position: relative;
    width: 60%;
    margin: 0 auto;
  }
}

label,
input,
select,
textarea {
  font-family: inherit;
  font-size: 1rem;
  width: 100%;
  margin: auto;
  box-sizing: border-box;
}

label {
  font-size: 1.3rem;
}

input {
  color: rgb(139, 139, 139);
}

input,
textarea {
  border: 1px solid lighten(#b87023, 30%);
  padding: 0.3em;
}

input:focus,
textarea:focus {
  border: 1px solid #af0606;
  outline: none;
}

details {
  cursor: pointer;
}

details summary {
  color: #b87023;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

details summary:hover,
details summary:focus {
  color: #af0606;
}

details p {
  color: #222;
}

.eq {
  margin-bottom: 1rem;
  background-color: var(--eq-color);
  color: var(--body-color);
  border-radius: 0.7rem;
  padding: 1rem 1rem;
  margin-top: 1rem;
  font-family: monospace;
  p {
    font-size: 1rem;
  }
}
