// Used to wrap content inside a nice box.
.content-box {
  background-color: var(--bg-content-color);
  max-width: var(--content-width);
  margin: 0 auto;
  transition: background-color 0.6s;
  padding: 0;
  border-radius: var(--radius);
  //   box-shadow: 1px 1px 5px 0 rgba(0,0,0,.02), 1px 1px 15px 0 rgba(0,0,0,.03);
  transition: transform 0.3s, background-color 0.3s, box-shadow 0.6s;
}

@media screen and (min-width: 650px) {
  .content-box {
    padding-bottom: 0;
  }
}
