// Default variables
html {
  --base-font-size: 16px;
}

// Light default theme
body {
  --bg-color: #fff;
  --bg-content-color: #fff;
  --bg-code: #fffbf3;
  --body-color: #444;
  --title-color: #111;
  --eq-color: rgba(255, 245, 196, 0.596);
  --eq-content: #525252;
  --link-color: #8f5c2a;
  --link-color-p: #47ac4c;
  --border-color: rgba(0, 0, 0, 0);
  --space: 2.5rem;
  --content-width: 1070px;
  --header-height: 80px;
  --radius: 0;
  --hrcolor: #0000001e;
}

// Make  things smaller for mobile
@media screen and (max-width: 650px) {
  html {
    --base-font-size: 16px;
  }
  body {
    --space: 1.5rem;
    --header-height: 60px;
  }
}

// Override variables for Dark theme
body[data-theme='dark'] {
  --bg-color: #242424;
  --bg-content-color: #2b2a2e;
  --bg-code: rgba(0, 0, 0, 0.3);
  --border-color: rgba(255, 255, 255, 0.1);
  --body-color: #d6d6d6;
  --title-color: rgb(214, 214, 214);
  --link-color: #ce863e;
  --hrcolor: #2b2a2e;
  --eq-color: #2b2a2e;
  --eq-content: #b9b9b9;
}
